body{
    font-size: 50px;
    background-image: url("mcdh1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: lightcyan;
    background-position: center;
}



p{
    font-size: 50px;
}




.link{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.link:hover{
    text-decoration: underline;
    color: #ea4335;
}